[2016-10-18 20:47] mathieuhays opened #6 "Speedtracker URL structure"
Hi,

First of all, I want to thank you for this great tool.

I just noticed that the visualisation layer modify the web address using the history API.
It looks great but it breaks the ability to share the url or reload the page.

I don't know if github has an option to redirect all traffic to the index but if it doesn't it might be worth considering a different url structure.

[2016-10-18 22:09] eduardoboucas commented on #6
Every profile has a directory with an `index.html` inside, so the correct URL for profile `something` will be http://root.url/something. This is totally fine if you use a custom domain and the site sits at the root of the domain (e.g. http://demo.speedtracker.org).

The issue here comes when the root of your dashboard is on a sub-directory (e.g. http://yourusername.github.io/speedtracker). Switchi

[2016-10-18 22:15] mathieuhays commented on #6
makes sense :)

[2016-10-19 08:31] #6 closed, assigned to nobody

[2016-10-21 18:22] webuniverseio opened #11 "CloudFlare DNS resolution error for https://speedtracker.org/"
Hi, just in case if you don't know yet there is a DNS resolution error on CloudFlare side (see attached image) when you navigate to https://speedtracker.org/.
![image](https://cloud.githubusercontent.com/assets/911388/19607728/b10cb848-9799-11e6-90e8-e057e6bfaeba.png)

[2016-10-21 19:30] webuniverseio commented on #11
Awesome, it is back up now.

[2016-10-21 19:30] #11 closed, assigned to nobody

[2016-10-24 11:32] enjikaka opened #12 "Slack Hook URL"
speedtracker.yml says;
`hookUrl: "ENCRYPTED_SLACK_HOOK_URL"`

But on https://speedtracker.org/encrypt you cannot encrypt the URL.

What to do?

[2016-10-24 11:36] eduardoboucas commented on #12
This is very odd. The encrypt tool seems to have reverted to an old version, for some reason.

I'll look into this and get it fixed asap. In the meantime, you can use this URL to encrypt your text, provided that you URI encode it.

https://speedtracker-toolkit-wunjwvrnzb.now.sh/encrypt/YOUR_KEY/URI_ENCODED_TEXT

Let me know if that works.

[2016-10-24 11:40] enjikaka commented on #12
That worked :)

[2016-10-24 11:46] eduardoboucas commented on #12
Fixed with https://github.com/speedtracker/speedtracker.org/pull/2.

Thanks!

[2016-10-24 11:46] #12 closed, assigned to nobody

[2016-10-24 22:05] kakumar opened #13 "Gettting 500 internal error"
Request has all the right details:-
curl 'https://api.speedtracker.org/v1/test/kakumar/speedtracker/master/default?key=game2pipe' --2.0 -H 'Host: api.speedtracker.org' -H 'User-Agent: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:46.0) Gecko/20100101 Firefox/46.0' -H 'Accept: _/_' -H 'Accept-Language: en-US,en;q=0.5' --compressed -H 'Referer: https://speedtracker.org/test' -H 'Origin: https://speedtr

[2016-10-25 08:07] enjikaka opened #14 "Doest seem to fetch any data"
I've followed the docs and set up everything as described. Also triggered a run at the speedtracker website. Nothing is happening in though.

Github Pages link: https://tidal-engineering.github.io/speedtracker/
Repolink: https://github.com/tidal-engineering/speedtracker

[2016-10-25 08:37] eduardoboucas commented on #14
https://github.com/tidal-engineering/speedtracker/blob/master/speedtracker.yml#L66

`wptUrl` should contain the URL to the WebPageTest server, and not the website to be tested. Unless you're running a private WPT instance, this will be https://www.webpagetest.org (you can just leave that field commented out, as that's used by default).

The URL of the site to be tested should be configured in the

[2016-10-25 08:59] enjikaka commented on #14
@eduardoboucas wptUrl was commented out for the inital run. Then I changed to what's there now and triggered run number 2. Neither gave any result... :/

Will try commenting it out and running again

[2016-10-25 09:36] eduardoboucas commented on #13
Can you confirm you're using a private WPT instance? If so, can you email me at mail@eduardoboucas.com? I haven't had a chance to test SpeedTracker exhaustively on a private instance, so I could definitely use your help on this.

Thanks

[2016-10-25 18:31] alexzaworski commented on #11
There's a DDOS attack on Dyn Managed DNS right now, a looooot of stuff is
down. I can't even access github.com-- this is likely related.
On Fri, Oct 21, 2016 at 11:22 AM Sergey Zarouski notifications@github.com
wrote:

[2016-10-25 22:46] kakumar commented on #13
Yes private instance.. sent you an email with details

[2016-10-26 02:22] jsilff commented on #14
I'm having the same issue. When I run the test, it says "success":true,"nextRun":1477477767358
Which is a some point in time?? But, alas, no data.

Love the idea and everything about this! Such a neat idea/implementation.

[2016-11-03 10:34] eduardoboucas commented on #13
Fixed.

[2016-11-03 10:34] #13 closed, assigned to nobody

[2016-11-03 12:40] eduardoboucas commented on #14
Is this still an issue?

[2016-11-03 12:57] enjikaka commented on #14
@eduardoboucas Now i'm getting "Error unkown" on https://speedtracker.org/test when trying to run a test

[2016-11-03 13:08] eduardoboucas commented on #14
@enjikaka I told you before that you're misusing the `wptUrl` field. You should leave that commented out if you wish to use the public instance.

[2016-11-03 13:14] jsilff commented on #14
I'm getting the same unknown error as Jeremy when using
https://speedtracker.org/test

[2016-11-03 18:09] mstalfoort opened #17 "Make the header sticky"
When scrolling through a result, it would be nice to have the header sticky in the browser so you constantly see which result you're looking at

I can create a fix for this if you like

[2016-11-03 18:11] mstalfoort opened #18 "Dropdowns in the header are unreadable in Chrome when clicked"
In Google Chrome the dropdowns, when clicked, in the header aren't properly readable because of the transparent background and white text

I can create a fix for this if you like

[2016-11-03 21:21] enjikaka commented on #14
@eduardoboucas I now commented out `wptUrl` again. https://speedtracker.org/test still gives the same error.

[2016-11-03 21:29] enjikaka commented on #14
Inspected the response when I click the "Run Test" button;

![](http://i.imgur.com/PoeII5X.png)

Is the wptKey not decrypted?

[2016-11-03 21:31] eduardoboucas commented on #14
It is. Could you have encrypted the API key with the wrong key?

To be clear, on the [encrypt tool](https://speedtracker.org/encrypt) the first field should be your encryption key (in plain text), and the second field is your WPT API key.

[2016-11-03 21:41] enjikaka commented on #14
@eduardoboucas I re-encrypted the WPT API key, got another string and after adding that to the config it worked! I'm pretty sure I typed my encryption password correctly; I do suspect that coping the WPT API key left out the `A.` on the start though.

I double click text I copy on Mac; clicking anything after the dot in this string `A.randomteXtandNum3er5ssszz` only selects the text after the dot

[2016-11-03 21:43] eduardoboucas commented on #14
Glad it worked.

You have notifications configured, but you must define budget for at least one metric in your profile file, otherwise the alerts won't be triggered: https://github.com/tidal-engineering/speedtracker/blob/master/_profiles/default.html#L39-L47

See the example on the demo site: https://github.com/eduardoboucas/speedtracker/blob/master/_profiles/default.html

[2016-11-03 21:51] enjikaka commented on #14
@eduardoboucas Didn't get it to work with that... :/
The budgets appear on https://tidal-engineering.github.io/speedtracker/ but I don't get any alerts.
(off topic for this issue though)

But thank you for your help. And thanks for a great project!

_(leaving the issue open so @jsilff can get help also, close it if you want to otherwise)_

[2016-11-03 22:00] enjikaka commented on #14
After the second manual run after updating the perf budget I got alerts on both mail and Slack! Woho! 🎉

[2016-11-03 23:32] eduardoboucas commented on #14
Happy days!

@jsilff please ensure you're encrypting your details correctly. I'm closing the issue, feel free to reopen if you're still experiencing problems after reviewing your setup.

[2016-11-03 23:32] #14 closed, assigned to nobody

[2016-11-05 08:57] deepesh-agarwal opened #21 "How to start with visualization?"
I have set-upped everything and the test-run shows success, now where to see my visualizations. Like this - https://demo.speedtracker.org/ ??

[2016-11-05 12:06] eduardoboucas commented on #21
https://deepesh-agarwal.github.io/speedtracker/

[2016-11-05 12:06] #21 closed, assigned to nobody

[2016-11-08 09:42] danyeah opened #22 ""No url""
Hello
Awesome project.

I set up everything as the doc said but i keep getting
"NO_URL" error even tho it is present in my configuration:
https://github.com/danielhq/speedtracker/blob/master/_profiles/default.html

What am i missing?
Thanks

[2016-11-08 10:17] eduardoboucas commented on #22
I suspect that's because the value you set for `location` isn't valid. If you're looking for a location in Europe, try one of the following:
- `ec2-eu-west-1-akamai`
- `Manchester_UK`
- `London_UK`
- `Brussels_BE`
- `Amsterdam_Godaddy`
- `Amsterdam_IISpeed_Loc`
- `Frankfurt_DE`
- `Frankfurt_DE_Ruxit`
- `ec2-eu-central-1-akamai`
- `Prague_CZ`
- `Poland_Loc`

Let me know if that works.

[2016-11-08 10:31] danyeah commented on #22
Thanks for the answer.
I used one of those location indicated  in this page: https://www.webpagetest.org/getLocations.php?f=html&k=A

Now i changed it to: "Frankfurt_DE:Chrome"
and It's still not working.

[2016-11-08 10:32] eduardoboucas commented on #22
Can you try removing the `:Chrome` part?

[2016-11-08 10:38] danyeah commented on #22
Nope, not working, i changed it to the default:
  location: "Dulles:Chrome"

[2016-11-08 10:40] eduardoboucas commented on #22
Does it still not work with the default location? You can try to remove the `location` property altogether.

SpeedTracker doesn't have a `NO_URL` error, which means this is coming from the WebPageTest API, hence the trial and error approach.

[2016-11-08 11:01] danyeah commented on #22
Uhm I removed location, and i changed the domain (put www.google.com)
still getting "No url"
Might be something with the line formatting since Im modifying the files from the web and not with a text editor and pushing manually?

[2016-11-08 12:46] danyeah commented on #22
I deleted the entire repo and did everything again.
Its working fine now.
Closing this issue.
Cheers :)

[2016-11-08 12:46] #22 closed, assigned to nobody

[2016-11-08 14:14] danyeah opened #23 "No data"
Already 2 Issues, hope I'm not bugging you :)

Anyway, after i setup everything its not displaying anything
https://danielhq.github.io/speedtracker/?period=day
Doc said i should allow a couple minutes to fetch and display data, 2 hours have passed and still nothing.

[2016-11-15 08:35] tomat opened #24 "WPT_ERROR - possible reasons?"
Getting this error when attempting to run a test via the API:

`curl -s https://api.speedtracker.org/v1/test/flm/speedtracker/master/devote_beta_blogpost?key=XXX
{"success":false,"error":{"code":"WPT_ERROR"}}`

Is there a way to get a more verbose error message?

Thanks for a really cool service btw :-)

[2016-11-16 22:25] zalerner opened #25 "INVALID_CONFIG when attempting to enable Slack alert"
Hi Eduardo,

First off, thanks for building and maintaining such a fantastic app! Our team has been pretty excited since we discovered it.

I'm currently trying to set up Slack integration, but I've been getting a 500 error when uncomment and complete the block of slack settings. Here's what my block of alert settings looks like:

[code]

Here's the url that the error displays in inspector (with t

[2016-11-17 18:09] eduardoboucas commented on #25
Your `slackAlert` block seems to have an indentation problem, as it's one space deeper than `emailAlert`. Can you try correcting that?

[2016-11-17 18:10] eduardoboucas commented on #24
Sorry, just seen this. Is it still an issue?

[2016-11-19 16:32] tomat commented on #24
Not this specific case, it's working now.

Would be practical to get a more verbose error though, if at all possible.

[2016-11-21 15:41] webuniverseio commented on #23
A few days ago speedtracker stopped working for me (https://indigo-ui.github.io/speedtracker/default/?period=month). I tried to submit test manually from https://speedtracker.org/test, but I'm getting 503.

![image](https://cloud.githubusercontent.com/assets/911388/20488972/f621d378-afd6-11e6-8271-6bb856b18188.png)

I think that might be related. Thanks.

[2016-11-21 17:46] eduardoboucas commented on #23
I'll do my best to have a look at this asap (@danielhq just realised it's been 13 days and I haven't got back to you, sorry!)

[2016-11-21 17:46] eduardoboucas commented on #25
Closing. Please reopen if still an issue.

[2016-11-21 17:46] #25 closed, assigned to nobody

[2016-11-21 17:47] eduardoboucas commented on #24
Indeed. Getting better error reporting is my next big priority.

Will close this issue now, but feel free to reopen if you encounter any other problems.

Thanks!

[2016-11-21 17:47] #24 closed, assigned to nobody

[2016-11-21 23:15] jsilff commented on #23
I'm getting the same error (was working fine and then stopped 5 days ago). Console says: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2016-11-21 23:38] eduardoboucas commented on #23
Can you check now, please?

[2016-11-21 23:39] jsilff commented on #23
Working again for me! Thank you!

[2016-11-22 02:20] webuniverseio commented on #23
@eduardoboucas seems to be working now. Thank you!

[2016-11-22 08:57] danyeah commented on #23
I get no errors whatsoever it just won't display any data.

On Tue, Nov 22, 2016 at 3:20 AM, Sergey Zarouski notifications@github.com
wrote:

[2016-11-22 14:13] webuniverseio commented on #23
@danielhq can you check if manual tests work? Did you add speedtracker bot as collaborators to your repo?
@eduardoboucas I get way less scheduled commits: https://github.com/indigo-ui/speedtracker/commits/master Maybe something is wrong with the bot? Or maybe WPT started to refuse connections due to high traffic?

[2016-11-22 14:53] eduardoboucas commented on #23
Not sure, will investigate.

[2016-11-23 09:43] danyeah commented on #23
Manual tests work.
Ive added speedtracker bot as a collaborator when i forked the project, but is still
"Awaiting speedtracker-bot's response"

[2016-11-23 09:45] eduardoboucas commented on #23
@danielhq Did you use the [connect tool](https://speedtracker.org/connect), as per the documentation? Also, what do you mean by "manual tests work"? If you're seeing that message it means the bot doesn't have access to your repository, so it can't be uploading any tests, manual or scheduled.

[2016-11-23 09:49] danyeah commented on #23
Manual test i meant this:
https://speedtracker.org/test and it did work when i tried.

I dont remember if i connected it, but i think  i didnt because it is now a collaborator.
Must have missed some steps while doing and redoing, anyway i should wait some time to let it fetch some data.

Thanks

[2016-11-23 15:59] danyeah commented on #23
Still no data.

[2016-11-23 16:05] webuniverseio commented on #23
@danielhq wait for a day, it might start working if everything is setup properly.
@eduardoboucas by manual tests "working" i think @danielhq means that he can submit test successfully, but his dashboard doesn't have any data yet, so there might be some setup missing. It is also possible that bot is failing for him for some reason...

[2016-11-23 17:03] eduardoboucas commented on #23
@danielhq try removing the `location` property from your profile to see if that helps (https://github.com/danielhq/speedtracker/blob/142713b991c450e9dfc124e7f88d3f20d637d196/_profiles/default.html#L26).

There's also the possibility that your encryption key or WPT key are not correct or have been encrypted incorrectly, which I have no way of checking for you.

[2016-11-23 20:45] zalerner commented on #25
That did it. Thanks!

[2016-11-23 22:30] webuniverseio commented on #23
@eduardoboucas I guess if manual test succeeds than encryption and WPT key are correct.

[2016-11-24 10:32] danyeah commented on #23
Ok I removed the "location" parameter.
Let's see

[2016-11-24 17:09] eduardoboucas commented on #23
Closing, since [commits are showing](https://github.com/danielhq/speedtracker/commit/da9f8769905e2b7f511f641231df6ad746ef4241).

[2016-11-24 17:09] #23 closed, assigned to nobody

[2016-11-24 17:58] eduardoboucas commented on #18
Merged and released. Thank you!

[2016-11-24 17:58] #18 closed, assigned to nobody

[2016-12-01 17:36] eduardoboucas opened #27 "Make setup process easier"
Currently, the process of setting up a new dashboard can trip up some people. After obtaining a WebPageTest API key, users need to:

1. Add the bot to their repository
1. Use the connect tool to prompt the bot accept the invitation
1. Use the encrypt tool to create an encrypted version of a chosen passkey
1. Add the encrypted passkey to the config file
1. Use the encrypt tool to create an encrypte

[2016-12-03 13:10] eduardoboucas commented on #27
This could even encompass running the first test as well.

[2016-12-12 11:48] #17 closed, assigned to nobody

[2016-12-13 14:59] eduardoboucas opened #28 "Replace React with Preact"
There is no reason why we couldn't use [Preact](https://preactjs.com/) instead of React for the dashboard, given that it's such a simple application, and I'd really like to see the reduction in bundle size.

Any takers?

[2016-12-23 12:17] danielbayerlein commented on #28
@eduardoboucas I can take the issue if you have not started yet.

[2016-12-23 12:18] eduardoboucas commented on #28
@danielbayerlein That would be great!

[2016-12-23 14:49] danielbayerlein commented on #28
@eduardoboucas See #29, I have two known issues after switch. Will try to solve it.

[2016-12-27 14:49] danielbayerlein opened #30 "Add JavaScript Linter"
I think a style linter would be great. For example:
* http://eslint.org
  * https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb
  * ...
* https://github.com/sindresorhus/xo
* ...

Do you prefer a style linter?

[2017-01-03 13:05] eduardoboucas commented on #30
I agree! I like ESlint. What are your thoughts?

[2017-01-03 13:28] danielbayerlein commented on #30
I also prefer ESLint. In my projects I use ESLint with the [airbnb configuration](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb).

[2017-01-05 16:58] danielbayerlein commented on #30
I can take the issue if you want...

[2017-01-06 10:25] eduardoboucas commented on #30
@danielbayerlein that would be great!

We could integrate with [Travis](https://travis-ci.org/) to do linting of new PRs?

[2017-01-06 11:03] danielbayerlein commented on #30
Sure 👍

[2017-02-07 20:00] avadhutp commented on #27
How about just a script? The script will be triggered by the end user in his/her cloned repo. And it will change files, etc. In the end, it will simply push the changes + make the first connect.

[2017-02-07 23:50] eduardoboucas commented on #27
Yeah, that makes sense. It can also fire the first test, which would then trigger any scheduled tests.

[2017-02-08 10:17] avadhutp commented on #27
@eduardoboucas Cool, I will take a jab at this.

[2017-02-08 10:18] eduardoboucas commented on #27
Awesome, thanks! There might be things that I haven't fully documented properly, so if you need assistance with anything I'm happy to help.

[2017-02-08 10:24] avadhutp commented on #27
@eduardoboucas Cool. I will mark you on WIP pull request when I get to it this evening. :-)

[2017-02-15 13:36] HeikoMamerow opened #31 "Works only for the default profile"
Hi,
SpeedTracker works good with my default profile. For my second profile it only showing:

The test tool shows me this for my both profiles:
(First is my default profile and the other is the second.)

Both profiles are identical - except the url parameter of course.

Here is my side:
https://heikomamerow.github.io/speedtracker/default/?period=week

...Is it to strong or I am too weak? ;-)

[2017-02-17 15:33] HeikoMamerow commented on #31
I don't know why, but since today also the second profile runs... ¯\_(ツ)_/¯

[2017-02-17 15:33] #31 closed, assigned to nobody

[2017-02-23 11:03] ugrupp opened #32 "Running a test throws "404 - Not Found""
10 days ago, the bot stopped committing webpagetests to my speedtracker. I think I narrowed it down to a 404 error when running the test. I'm not sure, however, where it comes from.

Steps to reproduce:
* https://speedtracker.org/test
* Running test with the correct credentials
* Result in the grey box:`(!) Error: "404"`
* The Ajax request to https://api.speedtracker.org/v1/test/landinsicht/speedt

[2017-03-02 09:55] pltnkv opened #33 ""Rendering" and "Load times" charts are empty"
Can you help with it?
Dashboard here: https://pltnkv.github.io/speedtracker/

[2017-03-03 02:35] pothi commented on #33
Ref: https://www.webpagetest.org/result/170303_3V_4B7/1/details/

Could it be due to the fact that the test didn't complete successfully?

Please try the following...

- create a new profile at https://github.com/pltnkv/speedtracker/tree/master/_profiles (copy / paste to a new file name)
- change the URL to https://github.com/pltnkv/speedtracker/blob/master/_profiles/default.html#L28 to some rando

[2017-03-06 05:56] pltnkv commented on #33
In new profile to github.com it works.
https://pltnkv.github.io/speedtracker/test/?period=week

Sorry, i didn't understand why test did not complete successfully.
Ref: https://www.webpagetest.org/result/170303_3V_4B7/1/details/
Here _Load Time_ is 14.134s
What is indicator of successful complete?

When i run test directly from webpagetest it takes about two minutes.
May it be connected with opened

[2017-03-06 06:46] pothi commented on #33
In the WPT result, the column named "Result (error code)" would be zero on successful completion.

[2017-03-06 13:46] pltnkv commented on #33
Thanks, I fix pending request in the app try again

[2017-03-06 21:50] eduardoboucas commented on #33
@pltnkv I see a lot of `null` values in the [result file](https://github.com/pltnkv/speedtracker/blob/master/results/default/2017/03.json) for your default profile. I've never seen this before, and it's odd because theoretically SpeedTracker should just be using whatever values come back from the WebPageTest API result.

Could you try deleting the `results` directory and manually running a test ag

[2017-03-06 21:51] eduardoboucas commented on #32
Is this still an issue?

[2017-03-07 14:34] ugrupp commented on #32
yes it is

[2017-03-13 20:03] rsahlstrom opened #34 "getVideoFrameURL is hard-coded to use https://www.webpagetest.org as the domain"
We're using a private instance of webpagetest and not publishing our results publicly. As a result, the images are not pushed up to https://www.webpagetest.org. However, they are published on our private ec2 instance.

Looking at getVideoFrameURL though, it's hard-coded to always try to load the images form webpagetest.org. https://github.com/speedtracker/speedtracker/blob/2c5b717e644fbc1e02c781b4

[2017-03-14 12:31] pltnkv commented on #33
It work after I removed the pending request:
https://pltnkv.github.io/speedtracker/default/?period=week

Thanks! You made awesome tool

[2017-03-14 12:32] eduardoboucas commented on #34
Absolutely. I'll look into this.

[2017-03-15 03:34] pothi commented on #33
Glad to know, it works now. Kindly close the issue when you get a chance. Thanks.

[2017-03-15 04:22] #33 closed, assigned to nobody

[2017-03-16 19:54] rockeynebhwani opened #35 "Content breakdown metrics show as 'undefined' in alert emails"
I am trying to use breakdown.image.bytes and breakdown.image.requests as metrics and I have defined performance budgets but when I receive alert email, I see it as undefined (see screenshot attached).

Feels like a bug. Can somebody please look into this? Here is link to my dashboard - https://rockeynebhwani.github.io/speedtracker/George-Blog/?period=week

![image](https://cloud.githubusercontent.

[2017-03-17 13:58] rockeynebhwani opened #36 "Enhancement - Add link to WebPageTest results page when hover specific data points on chart"
When you hover on a specific data point in chart, currently it shows timestamp of the test and values of key metric.

![image](https://cloud.githubusercontent.com/assets/1718757/24046088/4188e750-0b19-11e7-946b-f004cdeb1c06.png)

It will be good to add a link to webpagetest results so that users can start investigating using granular data when there is a sudden spike. We can either add a new link

[2017-03-25 13:32] eduardoboucas commented on #34
This is a bit more complex than what I had anticipated. The value for `wptUrl` is configured in the main configuration file (`speedtracker.yml`), which is never accessed by the dashboard — it doesn't even know how to locate or read this file.

One possible solution for this would be to move this value to the profile files, which are accessible by the dashboard. This would have the added benefit of

[2017-03-25 13:35] eduardoboucas commented on #36
I think this is useful, but I imagine that the vast majority of SpeedTracker users are using the public WebPageTest instance where test results are only held for 30 days. How would we handle this? I'm not keen on adding links that will break, which can confuse people.

[2017-03-25 13:55] eduardoboucas commented on #35
Could you try now, please?

[2017-03-25 14:51] rsahlstrom commented on #34
That'd be fine with me. Thanks for figuring this out.

On Mar 25, 2017, 7:32 AM -0600, Eduardo Bouças <notifications@github.com>, wrote:

[2017-03-25 18:54] rockeynebhwani commented on #35
Thanks for fixing. It's working fine now.

[2017-03-25 18:54] #35 closed, assigned to nobody

[2017-03-25 18:55] rockeynebhwani commented on #36
So, in that case we can have this test results available for only 30 days for free users and for anybody using private instance, we can have test results it linked forever.

[2017-03-25 19:04] rockeynebhwani opened #37 "Add information about render-blocking resources"
I think we should have a graph to show critical blocking resources (mainly CSS/JS). A graph like seen below along with links to specific tests as requested in another enhancement (https://github.com/speedtracker/speedtracker/issues/36), can be very useful in quickly spotting the delays introduced on sites.

![image](https://cloud.githubusercontent.com/assets/1718757/24325295/a00ca594-118d-11e7-874

[2017-03-25 20:34] rockeynebhwani opened #38 "Add support for repeat view"
I am trying to configure dashboard for repeatView and tried something like this -

parameters:
  connectivity: "Cable"
  location: "ec2-eu-west-1:Chrome"
  runs: 1
  repeatView: true
  chartType: waterfall
  url: "www.example.com"
  video: true

but this is not working? I used 'repeatView: true' as per WPT API documentation in parameters section/

[2017-03-25 20:55] Spunkie commented on #38
As far as I know speed tracker currently only consumes/saves the _averages of all runs_ data that the WPT API returns. So even if you set repeat view on or set runs to >1 all it will do is feed into the averages. Here is a link to the [relevant bits.](https://github.com/speedtracker/speedtracker-api/blob/master/lib/SpeedTracker.js#L19) @eduardoboucas would know more though.

Personally I still use

[2017-03-25 21:45] rockeynebhwani commented on #38
Hi @Spunkie,

I did a test using speedtracker UI and noted the test ID and I looked up that test on webtestpage (here is the test - http://www.webpagetest.org/result/170325_63_YHD/)

I think currently, it does only 1 run and just for 'firstView'. I don't believe there is any data currently in speedtracker for Repeat Views. It will be good to see this break down.

Ideally on dashboard some sort of

[2017-03-25 22:33] Spunkie commented on #38
Actually I double checked and I'm using `fvonly: 0` not `repeatView: true` based on [this page](https://sites.google.com/a/webpagetest.org/docs/advanced-features/webpagetest-restful-apis). Although 0 is the default anyways.

Looking back at some old test I ran I do have working examples of `runs: 2` and `runs: 5` but you are right that they are only doing 1 first view test for each run. It would s

[2017-03-30 20:16] eduardoboucas commented on #34
@janiv Could you help me test this?

To see if this works, you'll need to do two things:

- **Update your dashboard**: I deployed some changes to [my fork](https://github.com/eduardoboucas/speedtracker) of the SpeedTracker dashboard. You can get them by creating a pull request from my fork to yours. You'll also need to add your WPT URL to your profile, as shown [here](https://github.com/eduardobou

[2017-03-30 20:20] eduardoboucas commented on #38
Within `parameters`, `firstViewOnly` is set to `true` by default. Can you try setting it to false? It wasn't possible before, as the value was forcefully set to `false`, but now you should be able to change it.

Let me know if that works.

[2017-03-30 20:21] eduardoboucas commented on #37
Currently we're relying on WebPageTest as a source of data. Is this something we can extract from there? If not, what other tool would you recommend?

[2017-03-30 20:48] eduardoboucas commented on #36
I don't think this is going to work. When you hover on the data point it shows you the tooltip, but if you move the mouse to try and click on something inside the tooltip it disappears. This is how [Chart.js](http://www.chartjs.org/) works and I don't think there's a way to customise this behaviour.

Does that make sense?

[2017-03-30 22:29] rsahlstrom commented on #34
This looked to be working for me. Filmstrip now works great with the private WPT instance in the profile.

[2017-03-31 09:19] rockeynebhwani commented on #37
Hi @eduardoboucas,

You may want to check this - http://stackoverflow.com/questions/34179483/how-to-find-resourcescss-js-etc-that-are-blocking-in-chrome

Paid offerings like speedcurve also use webpagetest in background and are able to figure this out so I am sure based on above thread on stackoverflow, there is a way to figure this out.

Rockey

[2017-03-31 09:25] rockeynebhwani commented on #38
Hi @eduardoboucas,

This didn't work. I tried firstViewOnly:false. You can see here - https://github.com/rockeynebhwani/speedtracker/blob/master/_profiles/George-HomePage-Repeat.html

Ran the test from speedtracker UI

{"success":true,"nextRun":1490964790805,"testId":"170331_NG_SRY"}

This test on webpagetest shows that it was executed as firstViewOnly test - http://www.webpagetest.org/result/1703

[2017-03-31 09:27] Spunkie commented on #38
@eduardoboucas I was looking at the **[refactor/firstviewonly](https://github.com/speedtracker/speedtracker-api/tree/refactor/firstviewonly)** branch for this. Even if you can set `firstViewOnly` as `false` now the data will still get thrown out when saving metrics I would think?

https://github.com/speedtracker/speedtracker-api/blob/refactor/firstviewonly/lib/SpeedTracker.js#L19-L50 specifically

[2017-03-31 11:00] Spunkie commented on #38
@rockeynebhwani Are you testing on a local api instance? I just tested the  **[refactor/firstviewonly](https://github.com/speedtracker/speedtracker-api/tree/refactor/firstviewonly)** branch on my private api and it seems to be working.
## [_profiles/test.html](https://gist.github.com/Spunkie/87e8df99c527a65dbe6cdd73820cee90)
[code]
https://www.webpagetest.org/result/170331_2X_X6C/

[2017-03-31 11:09] eduardoboucas commented on #38
Sorry, I thought I had merged that branch to the preview instance but I hadn't. It's now available at `dev.speedtracker.org` (instead of `api.speedtracker.org`).

That's true, actually. I wonder what's the best way to display that information. We don't want to just do an average and merge them together. Ideally we'd be able to store both first and repeat views and toggle between them in the dashbo

[2017-03-31 12:17] Spunkie commented on #38
@eduardoboucas

I would think the _easiest_ way to support this is simply save a completely separate json file, for example `/results/default/2017/01.repeatView.json` or whatever. Then add a toggle to switch which file feeds data to the view which would allow you to reuse the same view. The toggle would only show up if a `XX.repeatView.json` file actually exists to remain backwards compatible for

[2017-03-31 15:24] rockeynebhwani commented on #38
It works fine when I trigger my test from dev.speedtracker.org

[2017-03-31 19:36] rockeynebhwani commented on #36
Hi @eduardoboucas,

I understand. Can we at least show the test ID within tooltip on hover so we know which test to look for in webpagestest in case we need to dig deeper?

Rockey

[2017-04-01 00:04] eduardoboucas commented on #36
@rockeynebhwani This was added in [1.1.0](https://github.com/speedtracker/speedtracker/releases/tag/1.1.0). Can you update your dashboard and let me know if it works?

Thanks.

[2017-04-01 12:32] eduardoboucas commented on #36
Released [1.1.1](https://github.com/speedtracker/speedtracker/releases/tag/1.1.1), with a label below each chart explaining what happens when you click on a data point.

[2017-04-01 13:50] rockeynebhwani opened #43 "Add visualization of 3rd party requests"
It will be good to create a visualization on 3rd party requests or add this metric as part of 'content breakdown' graph.

Reason - Most of the time site webmasters have very little control on what 3rd party requests are being included on their site due to usage of technologies like tag managers etc. Adding a visualization for this can help them track any increased in 3rd party requests on their pa

[2017-04-01 13:55] rockeynebhwani opened #44 "Add data from Google Lighthouse"
Hi @eduardoboucas,

You recently added graph for Google page speed. Any plans to add LightHouse score ?

Lighthouse has API now - http://help.lighthouseapp.com/kb/api

Rockey

[2017-04-01 13:57] eduardoboucas commented on #44
I looked into it, but I don't think it's possible to run Lighthouse on a Heroku instance, since it depends on actually running a normal instance of Chrome.

[2017-04-01 16:42] staabm opened #45 "Support PerfCascade"
Would be great to incorporate https://github.com/micmro/PerfCascade into the dashboard

[2017-04-01 17:48] eduardoboucas commented on #45
The main purpose of the dashboard is to show how performance metrics progress over time, which wouldn't work with a waterfall view. Also, that information is available on the WebPageTest report, which this tool isn't trying to replace.

Thanks for the suggestion, though!

[2017-04-01 17:48] #45 closed, assigned to nobody

[2017-04-01 18:51] eduardoboucas commented on #44
(And you meant [Google Lighthouse](https://developers.google.com/web/tools/lighthouse/) and not lighthouseapp.com, right?)

[2017-04-01 18:53] eduardoboucas commented on #43
I think this is adding too much complexity to the tool. Bare in mind that we're not trying to replace WebPageTest, which is why I think it was a great idea to add links to the WebPageTest result pages. If people want to go into so much level of detail into the nature of their requests, they should probably look at the waterfall view and others provided by WebPageTest.

[2017-04-01 18:56] eduardoboucas commented on #38
I don't think adding a separate file would be the easiest route. The app is configured to look for those specific files (one per month) and I'm not keen on changing that. I'd rather add new parameters, e.g. `visualComplete-repeatView` and leave the existing ones as they are for backwards compatibility.

I'll have a play with this and see how feasible it is.

[2017-04-01 18:57] eduardoboucas commented on #37
Where would we display this information? In the same graph as the content breakdown (requests)? I'm not sure it's a good idea to add yet another chart, as we'll end up with too much information.

What do you think?

[2017-04-01 18:58] eduardoboucas commented on #36
Added in 1.1.1.

[2017-04-01 18:58] #36 closed, assigned to nobody

[2017-04-01 18:58] eduardoboucas commented on #34
Thanks for your help. This has been released as part of v1.1.1.

[2017-04-01 18:58] #34 closed, assigned to nobody

[2017-04-01 19:13] rockeynebhwani commented on #44
Apologies.. yes.. I meant Google Lighthouse

[2017-04-01 19:17] rockeynebhwani commented on #37
I think it's ok if you want to add this to content breakdown (requests) graph. I would like to see two metrics (Critical blocking CSS and Critical Blocking JS).

[2017-04-01 19:22] rockeynebhwani commented on #43
Problem is that WebPageTest doesn't shown any trends over a period of time. That's where a visualization tool like speedtracker is very handy.  I am part of retail organisation where marketing teams keep adding 3rd party tags without providing any visibility to tech teams and sometimes these tag can slow down site. By bringing a trended view of 3rd party requests on a dashboard like this, we may b

[2017-04-01 20:15] eduardoboucas commented on #37
In that case a separate graph with render-blocking CSS and JS would probably make sense.

I just wonder if the method of determining whether a resource is render-blocking that you linked to is really accurate. If you have a bunch of scripts with `defer`, the browser could technically start retrieving them before the first paint time and yet they're not render-blocking?

[2017-04-01 20:48] rockeynebhwani commented on #37
Good point..

I think this is how speedcurve has done this ..https://speedcurve.com/blog/critical-blocking-resources/

I guess this is the key part from above link

***
Not all scripts and stylesheets necessarily have a big impact on performance, so it's important to be able to tell the blocking requests when trying to improve the user experience. In the waterfall above we see that there's an earl

[2017-04-01 20:53] rockeynebhwani commented on #37
You should also check this - https://speedcurve.com/blog/measuring-blocking-resources/

I think this can get complicated. I wish if this information was available from WebPageTest as standard metric.

Not sure if you want to take speedtracker this far and start to build all this logic.

[2017-04-01 21:04] rockeynebhwani commented on #45
I agree that a simple waterfall view is not needed in speedtracker as it's already available on webpagetest.

However, if were to look from visualization point of view, guys at speedcurve has improved the waterfall but making certain tweaks which they have described here -

https://speedcurve.com/blog/speedcurve-waterfall/

My favorite is using "height of each bar reflects the size of the content"

[2017-04-01 21:53] eduardoboucas commented on #37
So I suppose we'd need to actually download the HTML page for the given URL and inspect the DOM look for scripts and stylesheets, taking into account their attributes and position in the document.

I agree that the information is very useful, I just wonder if building (and maintaining) this is viable.

[2017-04-01 21:55] eduardoboucas commented on #45
That's indeed a very nice touch, but it's not something we have the resources to build. SpeedCurve is a much more comprehensive solution and always will be.

[2017-04-03 15:27] eduardoboucas commented on #44
Turns out this is possible after all, since WebPageTest offers integration with Lighthouse on a few selected locations. See here: https://demo.speedtracker.org/

[2017-04-06 07:25] ugrupp commented on #32
So since April 1st, the speedtracker bot is active again, committing webpagetests to my repo. I haven't touched anything, though...

I guess this issue can be closed for now, since the tracking is working as expected again.

[2017-04-07 16:37] rockeynebhwani commented on #44
Thanks @eduardoboucas. This looks good. I think we can close this now.

[2017-04-11 21:13] rsahlstrom opened #52 "Cannot read property 'url' of undefined"
With the latest release (v1.2.0), it now get the following error when I use the UI to switch to a new profile.

[code]

I believe this error was introduced in https://github.com/speedtracker/speedtracker/pull/41 when Dashboard.js tries to do `const profileUrl = this.props.profile.parameters.url`. Looking at the code in App.js, `_changeProfile` finds the profile data from profiles.json and sets tha

[2017-04-12 11:08] eduardoboucas commented on #52
Fix released with [1.2.2](https://github.com/speedtracker/speedtracker/releases/tag/1.2.2). Many thanks for the fix!

[2017-04-12 11:08] #52 closed, assigned to nobody

[2017-04-12 21:33] timuric commented on #24
Unfortunately I am also getting such error. Any tip what it can be? Thanks

[2017-04-13 11:35] ghost commented on #30
KISS on that linter, please. ESLint brings with it a world of noise and some particularly distracting configuration likely to lead to pedantic conversation in PRs. I would only recommend ESLint for an organization with a highly cohesive team of 6-12+ individuals.

My suggestion: http://standardjs.com/

---

Yes. And use a pre-commit hook to stop the commit before it results in bad code entering th

[2017-04-13 11:45] ghost commented on #43
Great concept but the tool supports deep links to insights on WPT. This allows dashboards to remain approachable and easy for anyone to use. Power users wishing to gain more insights can drill into the waterfalls on WPT and do more analysis as needed. So unless WPT is expiring deep links very, very rapidly (if at all), I'm a 👎 on this request.

[2017-04-13 12:02] ghost commented on #30
If we can settle on Standard I'll get a PR together for linting with pre-commit hook and CI integration.

[2017-04-13 12:05] eduardoboucas commented on #30
I'm quite happy with using Standard.

[2017-04-13 12:13] danielbayerlein commented on #30
@jhabdas I would also put on `JavaScript Standard Style` at this time.

[2017-04-13 13:09] ghost commented on #30
@eduardoboucas preferences? https://standardjs.com/#is-there-a-readme-badge

[2017-04-13 13:11] eduardoboucas commented on #30
I'd say the small one, but happy to go with your choice. :)

[2017-04-14 08:44] ghost opened #55 "Use Markdown for Profiles Collection"
Currently a Profiles Jekyll collection is used to create and manage profiles. Those files contain YAML front matter and are currently suffixed with an `html` extension. The presence of an `html` extension can trip up code editors like Atom as the editor will not properly parse and interpret front matter in an HTML document.

Moving to a `md` or `markdown` file extension helps mitigate this problem

[2017-04-14 10:00] ghost opened #56 "Add CI Integration"
Leverage CI to automate stuff. Given this repo is open source this can be accomplished in a secure way for free using Travis, reduce friction for repetitious tasks (e.g. changelog generation, deployments, version updates) and, perhaps more importantly, helps mitigate risk of human error.

[2017-04-14 11:11] ghost opened #57 "Integrate Tracking with Google Analytics"
Pull request to follow shortly...

[2017-04-15 05:39] ghost opened #59 "Encrypted URLs Break PageSpeed External Link"
https://github.com/speedtracker/speedtracker-api/pull/23 introduced support for encrypted URLs in profile configs, which I feel is stellar. However, the UI feature which allows one to deep link to reports like PageSpeed interprets the encrypted URL literally and attempts to re-run metrics against the encrypted URL as shown here:

![screen shot 2017-04-15 at 1 27 05 pm](https://cloud.githubusercont

[2017-04-15 14:49] #44 closed, assigned to nobody

[2017-04-15 14:53] eduardoboucas commented on #59
This is a tricky one, as the dashboard can't decrypt any URLs. Something similar happens with the `wptUrl` property. When that's encrypted, we can't display the filmstrip view (see [here](https://github.com/speedtracker/speedtracker/blob/master/app/Dashboard.js#L125)). I think this just needs to be acknowledged and documented: when using encrypted URLs, links to PageSpeed can't work.

[2017-04-15 14:54] #30 closed, assigned to nobody

[2017-04-15 15:05] ghost commented on #30
@eduardoboucas Re the small one. As soon as we add badge two is what I was thinking, for consistency. Until then I felt the big one was prettier and stood out more. 💄 really, but it hit my heart when I thought of the old badges we used to use on the Web.

[2017-04-16 02:45] ghost commented on #59
I absolutely adore the feature, and could see [envelope encryption](https://technologyadvice.github.io/lock-up-your-customer-accounts-give-away-the-key/) being used to deliver the secret to the UI if there's ever an admin section.

Until then, could you point me to any docs you'd like updated, @eduardoboucas, and offer me your thoughts on running a RegExp in the UI to look for TLD before offering

[2017-04-16 09:54] eduardoboucas commented on #59
At the moment, we're simply hiding the filmstrip view altogether when the URL is encrypted (we don't use a RegExp, just check to see whether the string starts with `http`). The only place this is documented is in [the default profile](https://github.com/speedtracker/speedtracker/blob/master/_profiles/default.html#L33-L39). Perhaps it should be documented somewhere in the [documentation page](https

[2017-04-16 17:07] ghost commented on #59
Will close after digesting your thoughts, @eduardoboucas. I have an engagement coming up later this week I'm prepping for, but I won't let this stagnate too long. Cheers.

[2017-04-18 15:07] TxHawks opened #60 "Inaccurate Google Pagespeed results"
The dashboard shows numbers between 46 and 54, however, when I click one of the data points, the rank is around 70.

[2017-04-18 15:54] TxHawks commented on #60
My mistake. I guess the Pagespeed score shown is the desktop one rather than the mobile one. Is there a way to chose which one is shown for each profile?

[2017-04-25 13:28] ghost commented on #59
You sure about that? Just about every site I'm encrypting has a filmstrip view, e.g.

http://speed.habd.as/habd_as-cable/?period=month (shows filmstrip)
https://github.com/jhabdas/speedtracker/blob/master/_profiles/habd_as-cable.html#L31 (shows profile is encrypted)

Let me know and I'll open another issue.

Tooltip. Simply replace the text and hint where the existing text lives when URL is encryp

[2017-04-25 13:28] #59 closed, assigned to nobody

[2017-04-25 13:30] ghost commented on #60
@TxHawks it's good form to close your issues when they're resolved. Please close this, and open a separate issue if you spot a bug or want to make an enhancement proposal once you've thought it through.

[2017-04-25 13:32] ghost commented on #56
@eduardoboucas looking for feedback here when you get around to it. I'm not sure how much of this system you want to open up. but keys can be encrypted using the travis CLI tool.

[2017-04-25 13:34] eduardoboucas commented on #56
I'd love to see this happening! +1 for Travis.

[2017-04-25 13:39] ghost commented on #56
Awesome. Here's an example Travis file to model from for an existing Jekyll site:

https://github.com/jhabdas/habd.as/blob/master/.travis.yml

It's [using a `Rakefile`](https://github.com/jhabdas/habd.as/blob/master/Rakefile.rb#L111-L117), though that's not necessary for regular Jekyll builds to GH. That particular site is hosted on an S3 bucket behind CloudFront for HTTPS/2.

Please let me know h

[2017-04-25 14:47] #60 closed, assigned to nobody

[2017-04-29 04:55] ghost opened #61 "Deep linking to historical reports"
The ability to deep link to graph states currently is supurb, enabling users to deep link to cuts of data segmented by day, week and month. Given some users may not track using intervals (e.g. for [research purposes](https://hackernoon.com/putting-wordpress-into-hyperdrive-4705450dffc2)) it would be useful to provide the ability to either:

- Ability to deep link to a specific date range, or;
- Ab

[2017-05-01 07:45] ghost commented on #28
https://github.com/developit/preact-compat

[2017-05-01 07:47] ghost commented on #28
Will be even faster with full Preact, if that's desirable. Graphs here: https://hackernoon.com/10-things-i-learned-making-the-fastest-site-in-the-world-18a0e1cdf4a7

[2017-05-02 19:49] #57 closed, assigned to nobody

[2017-05-02 19:51] eduardoboucas commented on #55
I honestly can't remember why I decided to use HTML. But yes, if switching to Markdown doesn't cause any issues, I'm more than happy to see that changed.

[2017-05-02 19:53] eduardoboucas commented on #56
Here's what I do every time I release a new version of the dashboard:

- Update the version in `package.json`
- Update the version in the README file
- Create a new GitHub tag/release

How much (if any) of this do you think could be automated by the CI tool?

[2017-05-02 19:54] eduardoboucas commented on #61
This makes sense. I don't know if I have the capacity to look into this anytime soon, though :/

[2017-05-03 09:32] ghost commented on #56
Everything except the version in the README, which could be replaced with a `CHANGELOG.md` and automatically generated with standardization of commit messages.

If you want that level of automation it's not difficult. There are a few different ways to go about it, two of which I have experience with:

**[Semantic Release](https://github.com/semantic-release/semantic-release)**

- Designed for pack

[2017-05-03 09:39] ghost commented on #61
You and I both. I'll close this for now to help keep the repo clean. Please feel free to reopen and tag if it you want to flag help from the community.

[2017-05-03 09:39] #61 closed, assigned to nobody

[2017-05-09 11:55] ghost commented on #56
Adding to more options, neither of which require conventional commits AFAIK:

https://github.com/zeit/release or https://github.com/egoist/changelog.md

@egoist is the creator of hackcss

[2017-05-17 22:56] gmmedia opened #63 "No repeated tests"
Hello,
I tried to setup Speedtracker, but the automated tests are not running.
The speedtracker-bot is in my Collaborators list.

Is there something else that I need to run the automated tasks?

The test on https://speedtracker.org/test was running, but no more speed tests since that.

thanks
Jochen

[2017-05-22 04:57] ghost opened #64 "Increase visibility"
https://jamstack.org/examples/
example submission https://github.com/jamstack/jamstack.org/pull/34/files

[2017-05-29 07:32] #64 closed, assigned to nobody

[2017-06-14 07:20] jacobworsoe opened #65 "Display monthly average load time when period is year"
Feature suggestion. When selecting year as the period, it would be great to display the average load time for each month, instead of all the daily load times.

That way you get a much more robust measure without spikes and it is much easier to see the trend.

This quickly becomes difficult to analyze: https://demo.speedtracker.org/?period=year

[2017-06-14 07:30] jacobworsoe opened #66 "Delete incorrect measures (outliers)"
One of my measures reported a load time of 54 seconds, which is clearly an outlier, and not a correct representation of the load time: https://jacobworsoe.github.io/speedtracker/default/?period=year

The problem is that a spike like that, makes the rest of the chart almost flatline and difficult to read.

It would be cool to be able to delete such outliers. Maybe from https://speedtracker.org usin

[2017-07-05 13:19] edqwebdev commented on #66
I also suffer from this issue a lot, which makes viewing the long term trends almost impossible. It would be fantastic if there was some easy way to remove the outliers.

[2017-07-05 13:26] eduardoboucas commented on #66
If we could make the [chart library](http://www.chartjs.org/) aware of this and ignore these outliers when defining the scale, that would be ideal. It would avoid deleting actual data from the data files, which could potentially lead to corrupt data files.

I'll try to look into this in the next few days. If anyone else wants to have a go as well, let me know how I can help.

[2017-07-05 21:26] jacobworsoe commented on #66
@eduardoboucas thanks a lot for taking the time to look into this!

I actually started by deleting the entry in the data files manually, but quickly decided that I would most likely mess up the syntax of the file :)

A statistical solution would be cool. Something like data points that are more than 4 standard deviations from the average should not be shown in the chart. But to avoid false positiv

[2017-07-11 08:25] ghost opened #68 "Tests not running as scheduled"
I have a number of tests setup, all of them have run at least once so I know the profiles are correct and they have been scheduled to run automatically.

When I look at the graphs, most the tests don't run every 12 hours like they are supposed to. Some run once a day, some seem to run once every few days and others have stopped running for over a week or more.

Is there any way to see if and why a

[2017-07-11 08:29] ghost opened #69 "Graphs showing no data despite tests running for 3 months"
As of this morning a few of my tests are showing no results with the message "We need some more test results to draw a chart".

These tests have been running for about three months, showing results correctly.
When I check the github repo the results are all still there (although some haven't been updated as frequently as they should, I have raised a separate bug for that).

[2017-07-18 20:41] webuniverseio commented on #69
Same problem: https://indigo-ui.github.io/speedtracker/?period=month

[2017-08-15 02:49] nakoo commented on #68
+1 same problem

[2017-08-23 20:02] matthewselby commented on #69
same for me

[2017-09-02 23:30] eduardoboucas commented on #69
Sorry about this. I'm looking into this and will keep updating the issue.

[2017-09-14 09:23] tlgdev opened #73 "Add custom Headers to the test"
It seems there is no parameter in the profile to specify **custom headers** as you could do on WPT UI and apparently also via the WPT API (see [here](https://github.com/marcelduran/webpagetest-api/issues/59)).

Thanks for the support,
Filippo

[2017-09-25 03:31] nigelbeauty opened #74 "Is it broken? Or did I not set it up right?"
https://nigelbeauty.github.io/speedtracker/

I thought it passed the tests and was set up fine but it's been over 8 hours and nothing has shown up yet.

[2017-09-28 08:00] maxulysse commented on #68
I had tests running quite well for like 1 week (I had one test for two days instead of two), and no more test since and it's been two week.
Speedtracker has completely stopped working for me.
Quite disappointing...

[2017-10-04 11:09] andreavaghi commented on #69
Don't know if this can help, we had no results since 8 June, no commits from speedtracker-bot.
Today i synced my fork with the original repo, run a manual test and now it's working again.
https://jobrapido.github.io/speedtracker/default/?period=year

[2017-10-13 07:18] pothi commented on #74
Looks like it's been fixed. I can see the data on yours. Why don't you consider closing this ticket?

[2017-10-13 09:05] nigelbeauty commented on #74
I will close it but I added two more profiles and they need to be set up too?

[2017-10-13 09:20] pothi commented on #74
Correct.

[2017-10-15 17:02] naps62 opened #75 "Internal Server error when using special characters in encryption key"
Apparently the encryption tool crashes when a "%" is present in the key

[2017-10-17 14:14] #74 closed, assigned to nobody

[2017-10-19 08:02] Joead opened #77 "Use with BitBucket?"
Is it posible to use this tool with BitBucket instead of Github?

[2017-10-22 17:13] QuentinAdt commented on #22
Hi
From my side, problem solved by removing the blank line before "---" in the /_profiles/default.html file :)
Best

[2017-11-13 08:27] romanovma opened #78 "Don't get automatic updates"
The app is here: https://romanovma.github.io/accuchek-speedtracker/?period=year

I keep default interval: 12, but the only test results I see are those done manually. And they where run 4 days ago.
Speed_Tracker bot is connected through collaborators but there are no any new commits from it.

Could you please advice what should be my next move? Thank you.

**update**: now I don't get manual update

[2017-11-15 14:37] romanovma commented on #78
Hello guys. Any ideas how this can be solved? Thanks.

[2018-06-06 13:20] torestensrud opened #80 "Content breakdown as metric"
Hi!
Is it possible to add total images size as a budget/metric?

[2018-09-04 04:40] adirake opened #81 "Running test with scripts"
Help needed,

By default webpagetest records at a small screensize how can i pass the scripts throught the profiles.html

 https://sites.google.com/a/webpagetest.org/docs/using-webpagetest/scripting#TOC-setViewportSize

Please suggest

[2019-02-05 05:22] ghost commented on #77
Let's throw gitea into this pile too

[2019-02-05 05:24] ghost commented on #56
Sorry I dropped the ball on this! I may loop back after I finish moving my creative work off GH as SpeedTracker is still the best free way I've seen to monitor metrics.

[2019-02-05 05:24] #56 closed, assigned to nobody

[2019-03-25 12:32] marek-saji opened #83 "Application error when running test"
I trigger speedtracker test as a part of my deploy process, but I started getting heroku’s application errors some time ago:

[code]

Also does not work when using web UI (https://speedtracker.org/test):

[code]

[2019-03-26 08:35] enjikaka commented on #83
Same for us. We're getting Error: "Unkown" when trying to trigger a test on https://speedtracker.org/test and the API responds with 503 and the same body as above.

Ping @eduardoboucas

[2019-03-26 09:39] eduardoboucas commented on #83
The problem is that GitHub blocked our bot, saying it was committing too frequently to too many forks of the dashboard repo.

I’m still trying to find the best alternative going forward, that allows people to use the platform for free and without too much hassle in the installation process. The obvious choice would be to start storing tests in a database, but what database would carry costs that I

[2019-04-17 00:00] gfrcsd opened #84 "Innacurate Google PageSpeed results"
The number reported in Speedtracker is 87 as opposed to 98 for mobile / 100 for desktop on PageSpeed Insights' website (possibly related issue #60)

[2019-05-17 14:54] davidpmccormick commented on #83
Speedtracker-bot stopped committing to [our repo](https://github.com/wellcometrust/speedtracker) on April 2. Is this related?

I've got a separate instance running for a personal project and that's still appears to be working fine (running tests once a day) – what's the difference?

[2019-07-16 10:23] kirillgroshkov commented on #83
Maybe there's some way that commits can be done not from the bot, but from some user that we share permissions to? Like our own bot, so it won't be the same for all users and won't be blocked..

[2019-08-22 08:57] drapisarda opened #85 "All tests are blank"
Hallo!
Unfortunately all of our tests on the _homeday-de_ fork are not reporting any data.
Is there something broken on the server side we should be aware of?

Thank you in advice!

[2019-09-27 09:51] DamienCegos opened #86 "Speedtracker test bot is down since 2019-09-19"
I checked on multiple websites using Speedtracker and the data are missing since 2019-09-19.
The bot on https://speedtracker.org/test shows errors when trying to launch tests.

[2019-10-23 12:47] DamienCegos commented on #86
Ok the bot restarted the 2019-10-01...

[2019-10-23 12:47] #86 closed, assigned to nobody

[2021-01-26 02:26] luckyadirake opened #87 "No test is running since 2021"
Getting no results or data from any of the test locations in speedtracker, what has been changed and will this be resolved in future?

[2021-01-26 02:28] luckyadirake commented on #86
Seems like its down again ?

[2021-04-10 10:51] malcomio commented on #87
seems like the service has been shut down: https://twitter.com/speed_tracker/status/1067920414704377856